[defaults]
host_key_checking = False
stdout_callback = json
deprecation_warnings = False
timeout = 30

[persistent_connection]
connect_timeout = 30
command_timeout = 30
control_path_dir = /tmp/.ansible/pc
